$borderRadiusSm: 4px;
$borderRadiusMd: 8px;
$borderRadiusLg: 12px;
$borderRadiusXl: 16px;
$borderRadiusXxl: 20px;

// Specific border radius values
$borderRadiusCard: 15px;
$borderRadiusContent: 30px;
