@use "sass:map";
@use './__colors.module.scss' as colors;

$fontFamily: "Rubik";

$heading-styles: (
  xxlarge: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 2.5rem,    // 40px
    font-style: normal,
    font-weight: 600,
    line-height: 3.25rem, // 52px
  ),
  xlarge: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 2rem,      // 32px
    font-style: normal,
    font-weight: 600,
    line-height: 2.5rem,  // 40px
  ),
  large: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 1.75rem,   // 28px
    font-style: normal,
    font-weight: 600,
    line-height: 2.5rem,  // 40px
  ),
  medium: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 1.5rem,    // 24px
    font-style: normal,
    font-weight: 600,
    line-height: 2rem,    // 32px
  ),
  small: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 1.25rem,   // 20px
    font-style: normal,
    font-weight: 600,
    line-height: 1.75rem, // 28px
  ),
  xsmall: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 1.125rem,  // 18px
    font-style: normal,
    font-weight: 600,
    line-height: 1.5rem,  // 24px
  ),
);

$label-styles: (
  large: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 1.125rem,  // 18px
    font-style: normal,
    font-weight: 500,
    line-height: 1.5rem,  // 24px
  ),
  medium: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 1rem,      // 16px
    font-style: normal,
    font-weight: 500,
    line-height: 1.25rem, // 20px
  ),
  small: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 0.875rem,  // 14px
    font-style: normal,
    font-weight: 500,
    line-height: 1rem,    // 16px
  ),
  xsmall: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 0.75rem,   // 12px
    font-style: normal,
    font-weight: 500,
    line-height: 1rem,    // 16px
  ),
);

$paragraph-styles: (
  large: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 1.125rem,  // 18px
    font-style: normal,
    font-weight: 400,
    line-height: 1.5rem,  // 24px
  ),
  medium: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 1rem,      // 16px
    font-style: normal,
    font-weight: 400,
    line-height: 1.25rem, // 20px
  ),
  small: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 0.875rem,  // 14px
    font-style: normal,
    font-weight: 400,
    line-height: 1.125rem,// 18px
  ),
  xsmall: (color: colors.$colorTextPrimary,
    font-family: $fontFamily,
    font-size: 0.75rem,   // 12px
    font-style: normal,
    font-weight: 400,
    line-height: 1rem,    // 16px
  ),
);

@mixin heading($size) {
  $styles: map.get($heading-styles, $size);

  @if $styles {
    @each $property, $value in $styles {
      #{$property}: $value;
    }
  }

}

@mixin label($size) {
  $styles: map.get($label-styles, $size);

  @if $styles {
    @each $property, $value in $styles {
      #{$property}: $value;
    }
  }

}

@mixin paragraph($size) {
  $styles: map.get($paragraph-styles, $size);

  @if $styles {
    @each $property, $value in $styles {
      #{$property}: $value;
    }
  }

}